.login {
    background: url('../images/login_bg.jpg') no-repeat fixed top;
    background-size: cover;
}

.rooms {

    background: url('../images/theme/1_bg.jpg') no-repeat fixed top;
    background-size: cover;
}

.room {
    background: url('../images/theme/12_mh.jpg') no-repeat fixed top;
    background-size: cover
}


body>.scrollbar-macosx {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    font-family: "微軟正黑體";
}

a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

.form-control:focus {
    box-shadow: none;
    border-color: #ccc;
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 35px;
    max-width: 992px;
    background-color: #ddd;
    height: 100%;
}



/*  -------------------------------------------------------room------------------------------- */
.room {
    .chat_info {
        margin-bottom: 115px;

        li {
            margin-top: 15px;
            overflow: hidden;
        }

        li>img {
            width: 50px;
            height: 50px;
            margin: 0 5px;
        }

        i {
            display: block;
            margin-bottom: 5px;
        }

        div {
            text-align: left;
            padding: 5px;
            background-color: #666;
            margin: 0 0 0 60px;
            word-break: break-all;
            /*控制換行*/

            color: white;
            border-radius: 10px;
            padding: 5px 15px;
        }

        .left {
            text-align-last: left;
        }

        .left>div {
            float: left;
        }

        .right {
            text-align-last: right;
        }

        .right>div {
            float: right;
        }

        .systeminfo span {
            display: block;
            width: 200px;
            margin: 0 auto;
            text-align: center;
            border-radius: 20px;
            font-size: 12px;
        }
    }

    .input {
        position: fixed;
        z-index: 7777;
        bottom: 0;
        width: 100%;

        .center {
            max-width: 992px;
            width: 100%;
            // height: 99px;
            margin: 0 auto;
            background: #eff0f1;

            @include pad {
                max-width: 750px;
            }
        }

        .tools {

            // height: 25px;
            // line-height: 25px;
            // margin-bottom: 10px;
            // margin-left: 15px;
            span {
                padding: 15px;
                cursor: pointer;
                color: #eee;
                font-size: 20px;

                &:hover {
                    color: #58f;
                }
            }
        }

        .faces {
            max-width: 288px;
            position: relative;
            top: -265px;
            left: -1px;
            z-index: 8889;

            img:hover {
                box-shadow: 0 0 5px #000;
            }
        }

        .faces.popover .arrow {
            margin-left: -127px;
        }

        .text {
            display: flex;
            justify-content: space-around;

            input.form-control {
                border-radius: 5px;
            }

            div {
                display: flex;
                align-items: center;
            }

            div:nth-child(2) {
                width: 89%;
                padding: 5px 0;

                @include mobile {
                    width: 80%;
                }
            }

            a {
                font-size: 18px;
                color: #fb8369;
                padding: 5px 0;
                display: block;
                font-weight: bold;
                @include pad {
                    font-size: 14px;
                }
            }
        }
    }
}