@charset "UTF-8";
.login {
  background: url("../images/login_bg.jpg") no-repeat fixed top;
  background-size: cover;
}

.rooms {
  background: url("../images/theme/1_bg.jpg") no-repeat fixed top;
  background-size: cover;
}

.room {
  background: url("../images/theme/12_mh.jpg") no-repeat fixed top;
  background-size: cover;
}

body > .scrollbar-macosx {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  font-family: "微軟正黑體";
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ccc;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*聊天室背景*/
.container {
  /* 距離上面多遠  設定上下左右 直接設定container 有多少大小*/
  margin-top: 8vh;
  margin-bottom: 5vh;
  max-width: 992px;
  /* background-color: #ddd; */
  background-color: transparent;

  z-index: 0;
}

/*  -------------------------------------------------------room------------------------------- */
/* 訊息框與下方距離 */
.room .chat_info {
  margin-bottom: 115px;
}
/* 每一個訊息間距 */
.room .chat_info li {
  margin-top: 15px;
  overflow: hidden;
}

.room .chat_info li > img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

/* 時間 */
.room .chat_info i {
  display: block;
  margin-bottom: 5px;
}

.room .chat_info div {
  text-align: left;
  padding: 5px;
  background-color: #666;

  /*控制換行*/
  color: white;
  border-radius: 10px;
  padding: 5px 15px;
}

.room .chat_info .left {
  text-align-last: left;
}

.room .chat_info .left > div {
  float: left;
}

.room .chat_info .right {
  text-align-last: right;
}

.room .chat_info .right > div {
  float: right;
}

.room .chat_info .systeminfo span {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  font-size: 12px;
}

.room .input {
  position: fixed;
  z-index: 0;
  bottom: 0;
  width: 100%;
  /* background: #eff0f1; */
}

.room .input .center {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  background: #eff0f1;
}

@media (max-width: 1024px) {
  .room .input .center {
    max-width: 750px;
  }
}

.room .input .tools span {
  padding: 15px;
  cursor: pointer;
  color: #eee;
  font-size: 20px;
}

.room .input .tools span:hover {
  color: #58f;
}

.room .input .faces {
  max-width: 288px;
  position: relative;
  top: -265px;
  left: -1px;
  z-index: 8889;
}

.room .input .faces img:hover {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.room .input .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.room .input .text input.form-control {
  border-radius: 5px;
}

.room .input .text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room .input .text div:nth-child(2) {
  width: 89%;
  padding: 5px 0;
}

@media (max-width: 568px) {
  .room .input .text div:nth-child(2) {
    width: 80%;
  }
}

.room .input .text a {
  font-size: 18px;
  color: #fb8369;
  padding: 5px 0;
  display: block;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .room .input .text a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=all.css.map */