        div.scrollmenu {
            overflow: auto;
            white-space: nowrap;
        }

        div.scrollmenu a {
            display: inline-block;
            color: #333;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

        #square_btn {
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            background: #43718b;
            /*ButtonColor*/
            color: #FFF;
            /* border-bottom: solid 4px #66a6ff; */
            border-radius: 3px;
        }

        #square_btn:active {
            /*OnClick*/
            -ms-transform: translateY(4px);
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
            /*Move down*/
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
            /*Reduce Shadow*/
            border-bottom: none;
        }

        #square_btn2 {
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            background: #c47895;
            /*ButtonColor*/
            color: #FFF;
            /* border-bottom: solid 4px #ff81c0; */
            border-radius: 3px;
        }

        #square_btn2:active {
            /*OnClick*/
            -ms-transform: translateY(4px);
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
            /*Move down*/
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
            /*Reduce Shadow*/
            border-bottom: none;
        }

        #bg {
            /* background-image: url("https://cdn.pixabay.com/photo/2020/05/06/06/18/blue-5136251_960_720.jpg"); */
            background-image: url("/image/1.jpeg");
            /* Full height */
            height: 300px;
            width: 1055px;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .btnGeer {
            font-size: 125%;
            color: #085d7b;
            border: none;
            border-radius: 50%;

        }

        .btnGeer:hover {
            color: #fff;
            background-color: #c8c9c7;
            border: none;
            border-radius: 50%;

        }

        .btnGeer:focus,
        .btnGeer.focus {
            color: #085d7b;
            background-color: #c7c7c7;
            border-color: #b5b6b5;

        }

        .btnShare {
            text-decoration: none;
            color: #085d7b;
            border: none;
            border-radius: 50%;
        }

        .btnShare:hover {
            color: #fff;
            background-color: #c8c9c7;
            border: none;
            border-radius: 50%;
        }

        .btnShare:focus,
        .btnShare.focus {
            color: #085d7b;
            background-color: #c7c7c7;
            border-color: #b5b6b5;

        }

        .dot {
            padding: 10px 15px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }

        .removeScrollbary {
            -ms-overflow-style: none;
            /* for Internet Explorer, Edge */
            scrollbar-width: none;
            /* for Firefox */
            overflow-y: scroll;
        }

        .removeScrollbary::-webkit-scrollbar {
            display: none;
            /* for Chrome, Safari, and Opera */
        }

        .inmenu {
            display: none;
        }

        @media (min-width: 480px) {
            #divListProfileImg {
                width: 100vw;
                height: 60vh;
            }
        }

        /* tab page */
        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            border-top: none;
        }

        /* post input style */
        .postInput {
            outline: 0;
            border-width: 0 0 2px;
            border-color: rgb(200, 200, 206);
            width: 70%;
        }

        .postInput:focus {
            /* remove the out border */
            box-shadow: none;
            outline: 0;
            border-width: 0 0 2px;
            border-color: rgb(174, 241, 179);
            background-color: transparent !important;
        }

        .posttextarea {
            border-color: rgb(200, 200, 206);
            width: 100%;
        }

        .posttextarea:focus {
            outline: none !important;
            border-width: 0 0 2px;
            border-color: rgb(117, 241, 125);
            box-shadow: 0 0 10px rgb(117, 241, 125);
        }

        .ArticleLayout {
            width: 700px;
            margin-right: auto;
            margin-left: auto;
        }

        .ArticleSide {
            width: 300px;
            margin-right: auto;
            margin-left: auto;
        }

        .Layout {
            width: 1080px;
            margin-right: auto;
            margin-left: auto;
        }

        .Content {
            margin-top: 50px;
            margin-bottom: 60px;
        }

        @media (max-width: 480px) {
            .ArticleLayout {
                width: 100%;
            }

            .ArticleSide {
                width: 100%;
            }

            .Layout {
                width: 100%;
            }

            .CarouselIndex {
                height: 50vw;
            }

            .DisSide {
                display: none;
            }

            .foursquare {
                display: none;
            }

            .HeadProfile {
                flex-wrap: wrap
            }

            #profileimg {
                width: 100vw;
                margin-top: 20px;
                border-radius: 15px;
            }

            .HeadProfileProductionV2 {
                margin-left: 20px;
                margin-right: 20px;

                margin-bottom: 30px;
            }
        }

        .HeadProfile {
            display: flex;
        }

        #profileimg {
            margin: 10px;
            height: 350px;
            border-radius: 15px;
        }

        .HeadProfileProductionV2 {
            margin-left: 10px;
            margin-right: 30px;
            margin-top: 5px;
            margin-bottom: 30px;
        }

        @media (min-width: 480px) {

            .CarouselIndex {
                height: 540px;
            }

            .mobilefoursquare {
                display: none;
            }

            .DisFooter {
                display: none;
            }
        }